{% extends 'base.html' %}

{% block title %}書籍一覧{% endblock %}

{% block content %}
<h1>書籍管理アプリケーション</h1>
<button onclick="location.href='/register'">書籍の登録</button>
{% if not books %}
<p>書籍情報が登録されていません。</p>
{% else %}
{% for book in books %}
<div>
    <h2>タイトル：{{ book.title }}</h2>
    <p>著者：{{ book.author }}</p>
    <p>出版社：{{ book.publisher }}</p>
    <p>出版日：{{ book.published_date }}</p>
    <p>ISBN：{{ book.isbn }}</p>
    <p>ステータス：{{ book.status }}</p>
    <p>読了日：{{ book.readed_date }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}