{% extends 'base.html' %}

{% block title %}書籍の登録{% endblock %}

{% block content %}
<h4>書籍の登録</h4>
<hr class="mt-0 mb-3">
<form action="/register" method="POST">
    <div class="mb-2">
        <label for="title" class="form-label fw-bold">タイトル</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-2">
        <label for="author" class="form-label fw-bold">著者</label>
        <input type="text" class="form-control" id="author" name="author">
    </div>
    <div class="mb-2">
        <label for="publisher" class="form-label fw-bold">出版社</label>
        <input type="text" class="form-control" id="publisher" name="publisher">
    </div>
    <div class="mb-2">
        <label for="published_date" class="form-label fw-bold">出版日</label>
        <input type="date" class="form-control" id="published_date" name="published_date">
    </div>
    <div class="mb-2">
        <label for="isbn" class="form-label fw-bold">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn">
    </div>
    <div class="mb-2">
        <label for="status" class="form-label fw-bold">ステータス</label>
        <select class="form-select" id="status" name="status">
            <option value="未読">未読</option>
            <option value="読書中">読書中</option>
            <option value="読了済み">読了済み</option>
        </select>
    </div>
    <div class="mb-2">
        <label for="readed_date" class="form-label fw-bold">読了日</label>
        <input type="date" class="form-control" id="readed_date" name="readed_date">
    </div>
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-6 col-md-3">
                <button type="button" class="btn btn-secondary w-100" onclick="location.href='/'">戻る</button>
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary w-100">登録</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}